[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
[submodule "themes/easy-gallery"]
	path = themes/easy-gallery
	url = https://github.com/liwenyip/hugo-easy-gallery.git
